<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit your message</title>
</head>
<body>
    <h3>Edit your message id : <%=chat._id%></h3>
    <p>This message is from <%=chat.from%> to <%=chat.to%></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT>
        <textarea name="msg" rows="5" cols="40"><%=chat.msg%></textarea>
        <button>ok</edit>
    </form>
</body>
</html>
